body {
    background: rgb(70, 142, 236);
    font: arial 15pt normal;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 15px;
    width: 500px;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}